:root {
    --primary-0: rgba(255, 255, 255, 1);
    --secondary-500: rgba(26, 32, 44, 1);
}

:root {
    --primary-0: rgba(255, 255, 255, 1);
    --secondary-300: rgba(144, 163, 191, 1);
    --secondary-500: rgba(26, 32, 44, 1);
}

:root {
    --primary-0: rgba(255, 255, 255, 1);
    --secondary-500: rgba(26, 32, 44, 1);
}
